{{> header }}


      <main class="about-us page">
        <div class="row">
          <article class="col-md-10 center-block" id="people">
          <h2>Meet our team</h2>

          <div class="row people">
            <div class="people-image col-sm-3">
              <img src="images/people/kaki.png" class="photo">
            </div>
            <div class="people-intro col-sm-9">
            <h3>Kaki Law <a href="http://hk.linkedin.com/in/kakilaw" target="_blank" class="text-hide linkedin">LinkedIn Profile</a></h3>

            <p>KaKi started his career as an interaction designer at R/GA after graduating from NYU’s ITP. He then moved on to Asia holding various creative leadership positions including Director of UX at SapientNitro and Isobar.</p>
            </div>
          </div>

          <div class="row people">

            <div class="people-image col-sm-3">
              <img src="images/people/thomas.png" class="photo">
            </div>
            <div class="people-intro col-sm-9">
            <h3>Thomas Pun <a href="http://hk.linkedin.com/in/thomaspun" target="_blank" class="text-hide linkedin">LinkedIn Profile</a></h3>

            <p>Thomas worked at Apple leading QuickTime H.264 video encoder team. He then started a mobile startup funded by Y Combinator and other top tier angels and VCs in the valley. He served as a product CEO and led the company to acquisition. </p>
            </div>
          </div>
          </article>
        </div>
      </main>

{{> footer }}
