{{> header }}


      <main class="index">
        <section class="landing" id="landing">
          <div class="row">
            <div id="concepts"  class="col-md-6">
              <div id="concept-flow">
                <ul class="concept-list">
                  <li class="concept collect">Collect</li>
                  <li class="concept analyze">Analyze</li>
                  <li class="concept engage">Engage</li>
                </ul>
                <img src="images/landing_flow2.png" class="art">
              </div>
            </div>
            <div id="slogan" class="col-md-6">
                  <h2 class="headline"><span class="upper">RE-ENGAGE AND CONVERT</span><br> <span class="lower">YOUR MISSED OPPORTUNITIES</span></h2>

                  <p class="tagline">Behavioural analytics &amp; contextual engagement <br>
          through iBeacon technology.</p>
            </div>
          </div>
        </section>

        <section class="alt" id="collect">
          <div class="row">
            <div class="logo-holder col-md-4">
              <img src="images/collect_logo_big.png" class="icon-badge">
            </div>
            <article class="concept-article col-md-8">
              <h2 >
                Collect
              </h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum convallis lectus eu tortor mesuada congue. Etiam semper interdum dui ut tincidunt. Interdum et malesuada fames ac ante ipsu primis in faucibus.</p>
            </article>
          </div>
          <div class="concept-art">
            <img src="images/collect_photo.png" class="photo">
          </div>
        </section>

        <section class="" id="analyze">
          <div class="row">
            <div class="logo-holder col-md-4">
              <img src="images/analyze_logo_big.png" class="icon-badge">
            </div>
            <article class="concept-article col-md-8">
              <h2>
                Analyze
              </h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum convallis lectus eu tortor mesuada congue. Etiam semper interdum dui ut tincidunt. Interdum et malesuada fames ac ante ipsu primis.</p>
            </article>
          </div>
        </section>

        <section class="" id="analyze-dashboard">
          <div class="row">
            <article class="concept-article col-sm-6">
                <h3>Dashboard</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum convallis lectus eu tortor mesuada.</p>
                <p class="call-for-action demo"><span class="demo-call">Request for Demo</span> <a class="btn btn-primary get-demo btn-lg">Get In Touch</a></p>
            </article> 

            <div class="concept-art col-sm-6">
                <img src="images/dashboard_ipad.png" class="art">
            </div>
          </div>
        </section>

        <section class="alt" id="engage">
          <div class="row">
            <div class="logo-holder col-md-4">
              <img src="images/engage_logo_big.png" class="icon-badge">
            </div>
            <article class="concept-article col-md-8">
              <h2>
                Engage
              </h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum convallis lectus eu tortor mesuada congue. Etiam semper interdum dui ut tincidunt. Interdum et malesuada fames ac ante ipsu primis.</p>
            </article>
          </div>
          <div class="row">
            <div class="concept-art col-md-4 engage-art">
                <img src="images/engage_photo.png" class="art" alt="engage">
            </div>
            <div class="concept-art col-md-4 plane-art">
                <img src="images/engage_plane.png" class="art" alt="plane">
            </div>
            <div class="concept-art col-md-4 laptop-art">
                <img src="images/engage_laptop.png" class="art" alt="laptop">
            </div>
          </div>
        </section>

        <section class="" id="get-in-touch">
          <div class="call-for-action"><span class="action-statement">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span> <span class="action-button"><a class="btn btn-primary get-in-touch btn-lg">Get In Touch</a></span></div>
        </section>
      </main>

{{> footer }}