{{> header }}


      <main class="index">
        <section class="landing" id="landing">
          <div class="row">
            <div id="concepts"  class="col-md-6">
              <div id="concept-flow">
                <ul class="concept-list">
                  <li class="concept collect">Collect</li>
                  <li class="concept analyze">Analyze</li>
                  <li class="concept engage">Engage</li>
                </ul>
                <img src="images/landing_flow2.png" class="art">
              </div>
            </div>
            <div id="slogan" class="col-md-6">
                  <h2 class="headline"><span class="upper">RE-ENGAGE & CONVERT</span><br> <span class="lower">YOUR MISSED OPPORTUNITIES</span></h2>
            </div>
          </div>
        </section>

        <section class="alt" id="collect">
          <div class="row">
            <div class="logo-holder col-md-4">
              <img src="images/collect_logo_big.png" class="icon-badge">
            </div>
            <article class="concept-article col-md-8">
              <h2 >
                Collect
              </h2>
              <p>We deploy and configure beacons based on your business objectives.
                 These beacons work with both iOS and Android devices and seamlessly collect behavioral data of your in-store visitors.
              </p>
            </article>
          </div>
          <div class="concept-art">
            <img src="images/collect_photo.png" class="photo">
          </div>
        </section>

        <section class="" id="analyze">
          <div class="row">
            <div class="logo-holder col-md-4">
              <img src="images/analyze_logo_big.png" class="icon-badge">
            </div>
            <article class="concept-article col-md-8">
              <h2>
                Analyze
              </h2>
              <p>
                The data we collected with beacons help you understand and identify your missed opportunites: Which visitors left without purchase? What insights can you learn about their visits?
              </p>
            </article>
          </div>
        </section>

        <section class="" id="analyze-dashboard">
          <div class="row">
            <article class="concept-article col-sm-6">
                <h3>Personalized Dashboard</h3>
                <p>
                  Our multi-platform dashboard shows you the <i>pulse</i> of your business and allows all of your stake holders to capture and optimize the retail experience anywhere anytime.
                </p>
                <p class="call-for-action demo"><span class="demo-call">Request a demo now</span> <a class="btn btn-primary get-demo btn-lg">Get In Touch</a></p>
            </article>

            <div class="concept-art col-sm-6">
                <img src="images/dashboard_ipad.png" class="art">
            </div>
          </div>
        </section>

        <section class="alt" id="engage">
          <div class="row">
            <div class="logo-holder col-md-4">
              <img src="images/engage_logo_big.png" class="icon-badge">
            </div>
            <article class="concept-article col-md-8">
              <h2>
                Engage
              </h2>
              <p>
                Close the <i>loop</i> with a contextual engagement. Our dashboard enables you to easily setup automatic and intelligent engagement thru email, In-App and push messaging.
              </p>
            </article>
          </div>
          <div class="row">
            <div class="concept-art col-md-4 engage-art">
                <img src="images/engage_photo.png" class="art" alt="engage">
            </div>
            <div class="concept-art col-md-4 plane-art">
                <img src="images/engage_plane.png" class="art" alt="plane">
            </div>
            <div class="concept-art col-md-4 laptop-art">
                <img src="images/engage_laptop.png" class="art" alt="laptop">
            </div>
          </div>
        </section>

        <section class="" id="get-in-touch">
          <div class="call-for-action"><span class="action-statement">Turn your in-store visitors into loyal customers now.</span> <span class="action-button"><a class="btn btn-primary get-in-touch btn-lg">Get In Touch</a></span></div>
        </section>
      </main>

{{> footer }}
