{{> header }}


      <main class="about-us page">
        <div class="row">
          <article class="col-md-10 center-block" id="hiring">
            <h2>Do the best work of your life with us</h2>

            <p>We are currently looking for multiple software engineering founding team members who are passionate about crafting insanely great mobile and web products.</p>

            <h3>Qualities our team value:</h3>
            <ul>
            <li>Led mobile and web product development from inception to launch</li>
            <li>Excellent problem solving and story telling skills</li>
            <li>Love sharing through open source, talks and blogs</li>
            <li>Products should be better, not just different</li>
            <li>Opinionated but open-minded</li>
            <li>Attention to details</li>
            <li>Sense of visual and UX design</li>
            <li>Psyched by the potential of iBeacons </li>
            </ul>

            <h3>Senior Node.js / Meteor Engineer</h3>
            <p>Requirements: </p>

            <ul>
            <li>Mastery of JavaScript</li>
            <li>Full stack from efficient backend to pixel prefect frontend</li>
            <li>Experience in API design</li>
            <li>Data visualization and machine learning experience a plus </li>
            <li>Experience with <a href="http://meteor.com">Meteor</a> a big plus but not required</li>
            </ul>

            <h3>Senior iOS Engineer</h3>
            <p>Requirements: </p>

            <ul>
            <li>Enjoyed Mac development before the iPhone era</li>
            <li>Developed iOS universal applications which got featured on App Store</li>
            <li>Experience in developing iOS frameworks</li>
            <li>iBeacon development experience a plus </li>
            </ul>

            <h3>Senior Android Engineer</h3>
            <p>Requirements: </p>

            <ul>
            <li>Developed Android applications featured on Google Play or other app stores.</li>
            <li>Experience in developing Android libraries</li>
            <li>Bluetooth LE development experience a plus </li>
            </ul>

            <h3>User Interface Designer</h3>
            <p>Requirements: </p>

            <ul>
            <li>Designed both web and mobile products for multilingual audience</li>
            <li>High interest in data visualization</li>
            <li>Frontend development experience a plus</li>
            </ul>

            <h3>Engineering & Design Interns</h3>
            <p>Requirements: </p>

            <ul>
            <li>Love learning and contributing to real products</li>
            </ul>

            <br>
            <p>
              We offer competitive compensation and <a href="http://blog.samaltman.com/employee-equity"><i>meaningful equity</i></a> along with a chance to work with game changing technologies. We would love to tell you more about our vision and founding team.
            </p>
            <br>
            <p class="call-for-action demo"><span class="demo-call">Email us with links to your best work.</span> <a class="btn btn-primary get-demo btn-lg" href="mailto:jobs@looppulse.com?Subject=Check%20out%20my%20best%20work">Apply</a></p>
          </article>
        </div>
      </main>

{{> footer }}
