$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

// All About color
$link-text: #028080;
$button-bg: #33cccc;
$button-hover-bg: #028080;
$button-text: #f1f8f8;

$tint-color: #39c5d0;
$primary-color: #fff;
$alt-color: #3CC;
$header-color: #f1f9f8;
$footer-color: #7d7d7d;

$text-color: #666;
$alt-text-color: #fff; //for dark bg
$em-text-color: #007f7f;

$link-hover: #33cccc;
$link-normal: #007f7f;

$base-font-size: 20px;

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

//mixins are in.


//override
body {
    color: $text-color;

}
a {
    color: $link-normal;
    &:hover {
        color: $link-hover;
    }
}
img { -ms-interpolation-mode: bicubic; image-rendering:optimizeQuality; }

//Typographic
body {
    //font-family: "HelveticaNeueLTStd-Cn", "Helvetica Neue LT Std Condensed", "Open Sans Condensed", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", sans-serif ;
    font-family: "Open Sans Condensed", sans-serif;
    line-height: 1.2;
    font-size: 20px;
    letter-spacing: normal; //0.06em ;
    letter-spacing: 0.05em;
}

.headline {
    font-family: "Open Sans Condensed", sans-serif;
    .upper { 
        letter-spacing: 0.05em
    }
    .lower{
        letter-spacing: -0.025em
    }
}
h2 {
    font-size: 1.6em;
}
h3 {
    font-size: 1.4em;
}
h4 {
    font-size: 1.2em;
}
section {
    h2, h3 {
        font-size: 50px;
        letter-spacing: 0.1em;
        line-height: 1.2;
        font-weight: 700;
    }
}


//bootstrap override

.btn-primary {
  color: white;
  background-color: $button-bg;
  border: none;

  &:hover, &:focus, &:active, &.active, .open > &.dropdown-toggle {
    color: $button-text;
    background-color: $button-hover-bg;
    border: none;
  }
}
.form-control {
    font-size: $base-font-size;
    height: auto;
    box-sizing: border-box;
    border-radius:0;
    border: none;
}
.btn {
    font-size: $base-font-size;
}

body > .container {
    padding: 0;
}

//Common
.photo, .icon-badge, .art {
    max-width: 100%;
}

.call-for-action {
    color: $em-text-color;
    font-size: 1em;
    letter-spacing: 0.03em;
}

.get-in-touch {
    font-size: 1em;
    padding: 0.4em 1.1em;
    margin-left: 0.6em
}

.sign-up {
    text-transform: uppercase;
    margin-left: 0.5em;
    padding: 0.3em 1em;
}



//Sections
header {
    border-bottom: 13px solid $tint-color;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: $header-color;
    .site-name {
        display: inline-block;
        @extend .text-hide;

        background: url("../images/logo.png") left center no-repeat;
        background-size: contain;
        background-repeat: no-repeat;
        max-width: 278px;
        width:60%;
        height: auto;
        margin: 7px 0 0 7px
    }
}
#site-nav {
    border-radius: 0;
    margin-bottom: 0;
    .nav {
        font-size: 1em;
        margin-top: 1.4em;
        margin-right: 1em;
        & > li > a {   
          color: $link-normal;
          &:hover, &:active, &:focus {
            color: $link-hover;
          }

        }
        & > li.active > a {
            &, &:hover, &:active, &:focus {
                background-color: transparent;
            }
        }
        .get-in-touch {
            @extend .btn-primary;
            font-size: 1em;
        }
    }

}
section {
    background-color:  $primary-color;
    color: $text-color;
    padding: 50px 88px;
    &.alt {
        background-color: $alt-color;
        color: $alt-text-color;
    }
}

//Section common
.concept-article h2 {
    margin-top: 80px;
}

//Specific Section
$flow-max-width: 485px;
#landing {
    background: #b5e6e6 url(../images/landing_bg.png) top left no-repeat;
    background-size: cover;
    color: $alt-text-color;

}
// Sub Section: Landing
#slogan {
    text-align: center;
    h2 { font-size: 2em; margin-top: 0em; }
    .tagline { font-size: 1.3em; }
}
#concepts {
    position:relative;
    padding:0;
    font-size: 1.4em;
}
#concept-flow {
    width: 100%;
    max-width: 485px;
    height: auto;
    max-height: 450px;
    overflow:hidden;
    margin:0 auto;
    position:relative;

    .concept-list {
        list-style:none;
        padding: 0;
        li {
            position: absolute;
            width: 100%;
            max-width: $flow-max-width;
            margin-bottom:0.2em;
        }
        .collect {
            top: 0;
            text-align: center;
        }
        .engage {
            bottom: 0em;
            //left: 3em;
            left:1.5em;
            text-align: left;
        }
        .analyze {
            bottom: 0em;
            left: 0;
            margin-left: -1.5em; //3em

            text-align: right;
        }
    }
    .art {
        margin-top: 0.9em;
        margin-bottom: -0.4em;
        //margin-bottom: -1.4em;
    }
}

// Section: Analyze
#analyze {

}
#analyze-dashboard {
    background: url(../images/dashboard_bg.png) bottom center no-repeat;
    padding: { 
        bottom: 0;
    }
    h3 {
        color: $em-text-color;
        margin-bottom: 0.4em;
        margin-top: 120px; 
    }
    .concept-art .art {
        margin-top:-40px;
    }
}



footer {
    background-color: $footer-color;
    color: $alt-text-color;
    padding: 50px;
    a {
        color: $alt-text-color;
    }
    .copyright {
        text-align: center;
        margin-top: 20px;
        font-size: 0.7em;
    }
    .nav {
        font-size: 1.2em;
    }
    // Common Footer item
    h4 {
        margin-bottom:1.2em;
    }


    // Social Media Etc
    .social-network-list {
        ul {
            list-style: none;
        }
        li {
            display: inline;
            padding: 0;
            &:first-child {
                margin-right: 40px;
                margin-left: -20px;
            }
        }
    }
}

// Some thing Else

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}


/* Extra small devices (phones, less than 768px) */
@media screen and (min-width: 320px) {
    footer, section {
        padding: 15px;
    }

    .logo-holder, section h2, section h3, section p {
        text-align: center;
    }

    .concept-article {
        margin-bottom: 30px;
        h2 {
            margin-top: 0px;
        }
    }

    #landing {
        padding: 10px;
        padding-bottom: 10px;
    }

    #analyze-dashboard h3 {
        margin-top: 20px;
    }

    #analyze-dashboard { 
        background-size: cover;
        .concept-art .art {
            margin-top: 0px;
        }
    }

    #engage {
        .concept-art {
            &.plane-art {
                transform: translate(-15%, -60px) rotate(-45deg);
            }
        }
    }

    .call-for-action {
        text-align: center;
        .action-statement, .action-button { display: block; }
        .action-statement { margin-bottom: 1em; }
        .get-in-touch { margin: 0 auto; }
    }

    footer {
        h4 {
            margin-bottom: 1em;
        }
        .site-nav {
            margin-left: -15px;
            margin-bottom: 2em;
        }
        .subscription-form {
            margin-bottom: 2em;
        }
        .sign-up {
            margin-left: 0;
        }
    }
}

@media screen and (min-width: 480px) {
    footer, section {
        padding: 15px;
    }

    #landing {
        padding: 10px;
    }

    #concept-flow {
        .concept-list {
            li {
                position: absolute;
                width: 100%;
                max-width: $flow-max-width;
                margin-bottom:0.4em;
            }
            .engage {
                bottom: 0.4em;
                left: 3em;
            }
            .analyze {
                bottom: 0.4em;
                margin-left: -2.8em;
            }
        }
        .art {
        //margin-bottom: -1.4em;
        }
    }
       // Section: Engage
    #engage {
        .concept-art {
            &.engage-art {
                float: right;
            }
            &.plane-art {
                transform: translate(15%, -60px) rotate(-30deg);
                float: left;
            }
            &.laptop-art {
                float: left;
            }
        }
    }
    footer {

        form.subscription-form {
            .form-group {
                display: inline-block;
            }
            .form-control[type="email"] {
                width: 14em;
            }
            .sign-up {
                margin-left: 0.5em;
            }
        }
    }
}
@media (min-width: 600px) {

    footer, section {
        padding: 50px 30px;
    }
    .concept-article {
        margin-bottom: 50px;
    }
    .call-for-action {
        font-size: 1.4em; //28px
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) { 
    .container {
        width: 100%;
    }
    footer, section {
        padding: 50px;
    }
    .logo-holder {
        text-align: center;
    }

    #landing {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    header .site-name {
        width: 278px;
        height: 85px;
        margin: 7px 0 7px 20px; //-30 because of navbar etc
    }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 1024px) { 
    .container {
        width: 1024px;
    }
    .concept-article h2 {
        margin-top: 40px;
    }
    .call-for-action .action-statement {
        font-size: 38px;
    }
    #landing {
        padding-top: 70px;
        padding-bottom: 70px;
    }


    #landing {
        h2, h3, .tagline {
            text-align: center;
        }
    }
    #concepts {
        margin-bottom: 75px;
        margin-left: -30px;
    }

    #slogan {
        h2 {
            margin-top: 100px;
            font-size: 1.8em;
        }
    }

    .logo-holder img {
        margin-left: -14px;
    }
    .logo-holder, section h2, section h3, section p {
        text-align: left;
    }
    #analyze-dashboard h3 {
        margin-top: 120px;
    }

    #analyze-dashboard {
        min-height: 465px;
        padding-top: 0;
    }
    #analyze-dashboard { 
        .concept-art .art {
            margin-top: -40px;
        }
    }
    .call-for-action {    
        text-align: left;
        .action-statement, .action-button { 
            display: inline-block; 
            vertical-align: middle; 
        }
        .action-statement { margin-bottom: 0; }
        .action-button { float: right; }
        .get-in-touch {
            margin: 0 0 0 0.6em;
        }
    }

    // Section: Engage
    #engage {
        .concept-art {
            position:relative;
            height: 445px;

            &.engage-art {
                width: 39%;
                float: right;
            }
            &.plane-art {
                -webkit-transform:  none;
                transform:  none;
                width: 22%;
                padding: 0;
                float: right;
            }
            &.laptop-art {
                width: 39%;
                float: right;
            }

            .art {
                position:absolute;
                max-height: 100%;
                &[alt="engage"] { 
                    bottom:0;
                    left: -40px; 

                }
                &[alt="laptop"] { 
                    right: 0px; 
                    bottom:0;
                }
                &[alt="plane"] {
                    bottom: 115px;
                    right:0;
                }
            }

        }
    }

    footer {
        form.subscription-form {
            margin-bottom: 0;
        }

        .copyright {
            margin-top: 80px;
        }


        h4 {
            margin-bottom: 1.2em;
        }
        .site-nav {
            margin-left: 0px;
            margin-bottom: 0;
        }
    }

        .demo-call,.get-demo {
            vertical-align: middle;
        }
        .demo-call {
            line-height: 1.4;
        }
     .get-demo {
        font-size: 0.8em;
        margin-left: 1em;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1280px) { 
    .container {
      width: 1280px;
    }
    .concept-article h2 {
        margin-top: 80px;
    }
    footer, section { 
        padding: 50px 80px;
    }
    header .site-name {
        margin-left: 40px; //-30 because of navbar etc
    }
    .call-for-action  .action-statement {
        font-size: 40px;
    }
    #slogan {
        width: 55%;
        h2 {
            margin-top: 140px;
            font-size: 2.6em;
        }
    }
    #concepts{
        width: 45%;
    }

    footer {
        nav.site-nav {
            margin-left: 20px
        }
        form.subscription-form {
            margin-left: 60px;
            .form-control[type="email"] {
                width: 16em;
            }
        }
        .connect-us {
            margin-left: 60px;
        }
    }
}