$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

// All About color
$link-text: #028080;
$button-bg: #33cccc;
$button-hover-bg: #028080;
$button-text: #f1f8f8;

$tint-color: #39c5d0;
$primary-color: #fff;
$alt-color: #3CC;
$header-color: #f1f9f8;
$footer-color: #7d7d7d;

$text-color: #666;
$alt-text-color: #fff; //for dark bg
$em-text-color: #007f7f;

$link-hover: #33cccc;
$link-normal: #007f7f;

$base-font-size: 20px;

$headline-color: #39c5d0;

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// mixins are in.


// General override
body {
    color: $text-color;

}
a {
    color: $link-normal;
    &:hover {
        color: $link-hover;
    }
}
img { -ms-interpolation-mode: bicubic; image-rendering:optimizeQuality; }

// Typographic
body {
    //font-family: "HelveticaNeueLTStd-Cn", "Helvetica Neue LT Std Condensed", "Open Sans Condensed", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", sans-serif ;
    font-family: 'PT Sans Narrow', sans-serif;
    line-height: 1.2;
    font-size: 20px;
    letter-spacing: normal; //0.06em ;
    letter-spacing: 0.05em;
}
h1,h2,h3, .section-title {
    font-family: 'Francois One', sans-serif;
    font-weight: normal;
}

h2 {
    font-size: 1.6em;
}
h3 {
    font-size: 1.4em;
}
h4 {
    font-size: 1.2em;
}
section {
    h2, h3 {
        font-size: 50px;
        letter-spacing: 0.1em;
        line-height: 1.2;
    }
    p {
        font-size: 1.1em; //22px
    }
}


// bootstrap override
.center-block {
    float:none;
}
.btn-primary {
  color: white;
  background-color: $button-bg;
  border: none;

  &:hover, &:focus, &:active, &.active, .open > &.dropdown-toggle {
    color: $button-text;
    background-color: $button-hover-bg;
    border: none;
  }
}
.btn {
    font-size: $base-font-size;
}
.btn-primary.disabled, #site-nav .nav .disabled.get-in-touch, .btn-primary.disabled:hover, #site-nav .nav .disabled.get-in-touch:hover, .btn-primary.disabled:focus, #site-nav .nav .disabled.get-in-touch:focus, .btn-primary.disabled:active, #site-nav .nav .disabled.get-in-touch:active, .btn-primary.disabled.active, #site-nav .nav .disabled.active.get-in-touch, .btn-primary[disabled], #site-nav .nav [disabled].get-in-touch, .btn-primary[disabled]:hover, #site-nav .nav [disabled].get-in-touch:hover, .btn-primary[disabled]:focus, #site-nav .nav [disabled].get-in-touch:focus, .btn-primary[disabled]:active, #site-nav .nav [disabled].get-in-touch:active, .btn-primary[disabled].active, #site-nav .nav [disabled].active.get-in-touch, fieldset[disabled] .btn-primary, fieldset[disabled] #site-nav .nav .get-in-touch, #site-nav .nav fieldset[disabled] .get-in-touch, fieldset[disabled] .btn-primary:hover, fieldset[disabled] #site-nav .nav .get-in-touch:hover, #site-nav .nav fieldset[disabled] .get-in-touch:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] #site-nav .nav .get-in-touch:focus, #site-nav .nav fieldset[disabled] .get-in-touch:focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] #site-nav .nav .get-in-touch:active, #site-nav .nav fieldset[disabled] .get-in-touch:active, fieldset[disabled] .btn-primary.active, fieldset[disabled] #site-nav .nav .active.get-in-touch, #site-nav .nav fieldset[disabled] .active.get-in-touch {
    background-color: $button-bg;
    border-color: $button-bg;
}

.form-control {
    font-size: $base-font-size;
    height: auto;
    box-sizing: border-box;
    border-radius:0;
    border: none;
}
.form-horizontal .control-label {
    font-weight: normal;
}
body > .container {
    padding: 0;
    overflow-x: hidden; 
}
.col-wrap {
    margin: 0 -15px;
}

// Bootstrap override in specific part
header .container-fluid {
    padding: 0;
}
header .navbar-header {
    padding: { left: 15px; right: 15px; }
}
.navbar .navbar-toggle {
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 14px;
    margin-bottom: 8px;
    border: none;
    border-radius: 0;
    .icon-bar {
        background-color: $link-hover;
        width: 32px;
        height:3px;
    }
    &:hover .icon-bar {
        background-color: $link-normal;
    }
}
#main-navbar-collapse.collapse-visible.navbar-collapse { 
    margin: 0;
    padding: 0;
    .nav.navbar-nav {
        margin: 0.5em 0 0;
        padding: 0;
        .btn.get-in-touch {
            border-radius: 0;
            text-align: left;
            margin: 0;
            padding: 15px;
        }
    }
}
.form-group.has-error input {
    border:1px solid #d9534f;
}
.form-group.required {
    label:after {
        content: "\2731";
        color: $link-hover;
        margin-left: 0.2em;
        font-size: 0.6em;
        vertical-align: super;
    }


}

// Common Class
.photo, .icon-badge, .art {
    max-width: 100%;
}

.call-for-action {
    color: $em-text-color;
    font-size: 1em;
    letter-spacing: 0.03em;
}

.get-in-touch {
    font-size: 1em;
    padding: 0.4em 1.1em;
    margin-left: 0.6em
}

.sign-up {
    text-transform: uppercase;
    margin-left: 0.5em;
    padding: 0.3em 1em;
}

// Header
header {
    border-bottom: 13px solid $tint-color;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: $header-color;
    .site-name {
        display: inline-block;
        //@extend .text-hide;

        background: url("../images/logo.png") left center no-repeat;
        background-size: contain;
        background-repeat: no-repeat;
        max-width: 300px;
        width:60%;
        height: auto;
        margin: 10px 0 7px 10px;
        .navbar-brand {
            font-family: sans-serif;
            color: #134848;
            font-size:26px;
            font-weight: 100;
            line-height: 2;
            padding-left: 120px;
            letter-spacing: 0.2em;
            white-space: nowrap;
        }
        a .loop {
            color: #017f7f;
        }
        a .pulse {
            color: #65c9c9;
        }
    }
}
// Main Nav 
#site-nav {
    border-radius: 0;
    margin-bottom: 0;
    border: none;
    .nav {
        font-size: 1em;
        margin-top: 1.4em;
        margin-right: 1em;
        & > li > a {   
          color: $link-normal;
          &:hover, &:active, &:focus {
            color: $link-hover;
          }

        }
        & > li.active > a {
            &, &:hover, &:active, &:focus {
                background-color: transparent;
            }
        }
        .get-in-touch {
            @extend .btn-primary;
            font-size: 1em;
        }
    }

}

// Page Share
.page {
    padding: 20px 30px;
    h1, h2 { color: $headline-color; text-align: center; font-size: 2.2em; }
}

// Footer
footer {
    background-color: $footer-color;
    color: $alt-text-color;
    padding: 50px;
    // Common
    a {
        color: $alt-text-color;
    }
    h4 {
        margin-bottom:1.2em;
    }

    // i. Nav 
    .nav {
        font-size: 1.2em;
    }
    // iii. Social Media Etc
    .social-network-list {
        ul {
            list-style: none;
        }
        li {
            display: inline;
            padding: 0;
            &:first-child {
                margin-right: 40px;
                margin-left: -20px;
            }
        }
    }
    .copyright {
        text-align: center;
        margin-top: 20px;
        font-size: 0.7em;
    }
}

// Component 
#top-note {
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    // background: #fde073;
    text-align: center;
    // line-height: 2.5;
    overflow: hidden; 
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
    border:none;
    border-radius: 0;
    padding: 0.2em;
    font-size: smaller;
}
@-webkit-keyframes slideDown {
    0%, 100% { -webkit-transform: translateY(-50px); }
    10%, 90% { -webkit-transform: translateY(0px); }
}
@-moz-keyframes slideDown {
    0%, 100% { -moz-transform: translateY(-50px); }
    10%, 90% { -moz-transform: translateY(0px); }
}
@-keyframes slideDown {
    0%, 100% { transform: translateY(-50px); }
    10%, 90% { transform: translateY(0px); }
}
.cssanimations.csstransforms #top-note {
    -moz-transform:    translateY(-50px);
    -moz-animation:    slideDown 5s 1.5s 1 ease forwards;
    transform:    translateY(-50px);
    animation:    slideDown 5s 1.5s 1 ease forwards;
}

@import "./index";
@import "./about-us";
@import "./contact";

// Some Override
#landing li.concept {
    @extend .section-title;
}

.selectboxit-container {
    * {
        font:inherit;
    }
    .selectboxit {
        border-radius: 0;
        height: auto;
        padding: 0;
        .selectboxit-text, .selectboxit-arrow-container {
            height: 100%;
        }
    }
}
.selectboxit-arrow-container {
    background-color: $link-hover;
    //color: #7d7d7d;
}
.selectboxit-text {
    padding: 6px 6px 6px 1px;
}

// Media Queries
// General Flow:
// - Basic (container, footer, header, section )
// - header specific
// - section common component (essential)
// - footer specific

/* Extra small devices (phones, less than 768px) */
@media screen and (min-width: 320px) {

    footer, section {
        padding: 15px;
    }

    footer {
        h4 {
            margin-bottom: 1em;
        }
        .site-nav {
            margin-left: -15px;
            margin-bottom: 2em;
        }
        .subscription-form {
            margin-bottom: 2em;
        }
        .sign-up {
            margin-left: 0;
            vertical-align: top;
        }
    }
}

@media screen and (min-width: 480px) {
    footer, section {
        padding: 15px;
    }

    footer {

        form.subscription-form {
            .form-group {
                display: inline-block;
            }
            .form-control[type="email"] {
                width: 14em;
            }
            .sign-up {
                margin-left: 0.5em;
            }
        }
    }
}
@media (min-width: 600px) {
    footer, section {
        padding: 50px 30px;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) { 
    .container {
        width: 100%;
    }
    footer, section {
        padding: 50px;
    }
    header .site-name {
        width: 280px;
        height: 85px;
        margin-left: 0;
    }
    .page { 
        padding: 30px 50px; 
        
        h1,h2 {
            margin-bottom: 0.5em;
        }
    }

}
/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) { 
    header .site-name {
        margin-left: 20px;
    }
    // Footer
    footer {
        form.subscription-form {
            margin-bottom: 0;
        }

        .copyright {
            margin-top: 80px;
        }

        h4 {
            margin-bottom: 1.2em;
        }
        .site-nav {
            margin-left: 0px;
            margin-bottom: 0;
        }
    }
}
@media (min-width: 1024px) { 
    .container {
        width: 1024px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1280px) { 
    // Basic
    .container {
      width: 1280px;
    }
    footer, section { 
        padding: 50px 80px;
    }
    header .site-name {
        margin-left: 40px; //-30 because of navbar etc
    }

    // Footer
    footer {
        nav.site-nav {
            margin-left: 20px
        }
        form.subscription-form {
            margin-left: 60px;
            .form-control[type="email"] {
                width: 16em;
            }
        }
        .connect-us {
            margin-left: 60px;
        }
    }
}
@media (max-width: 767px) {

    header .site-name {
        margin-left: 15px;
        .navbar-brand {
            font-size: 14px;
            line-height: normal;
            padding-left: 63px;
            letter-spacing: 0.25em;
        }
    }
}